python/article_data.csv
.DS_Store
.vscode/
.pytest_cache/
*.code-workspace
venv
config.ini
.coverage
tmp

# Cache Folders.
__pycache__/
.cache/

# Local Folders.
data/
local/
config/local
notebooks/local
certs/
deployment-artifacts/

# Packages.
node_modules

# Sensitive config files.
config/alerts_sources.yaml

# Bicepparam compiled artifact.
dev.params.json