python/article_data.csv
.DS_Store
.vscode/
.pytest_cache/
*.code-workspace
venv
config.ini

# Cache Folders.
__pycache__/
.cache/

# Local Folders.
data/
local/
config/local
notebooks/local
certs/

# Bicepparam compiled artifact.
dev.params.json